/**
TOUR DETAIL
 */

.tour-detail-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px 0px;
  padding-bottom: 10px;
  z-index: 10;
}

.tour-detail h1 {
  font-size: 2rem;
}

.tour-detail .control {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tour-detail .price-list {
  --bs-breadcrumb-divider: "|";
}

.tour-detail .price-list strong {
  color: $red;
}

.tour-detail .btn-book {
  height: 45px;
  padding: 5px 20px;
}

.tour-detail .image-slider-item .big-thumb,
.tour-detail .image-slider-item .small-thumb {
  width: 100%;
  height: 560px;
  position: relative;
  overflow: hidden;
}

.tour-detail .image-slider-item .small-thumb {
  height: 270px;
}

.tour-detail .image-slider-item .small-thumb:first-child {
  margin-bottom: 20px;
}

.tour-detail button.btn-icon {
  text-decoration: none;
}

.tour-detail hr.bold {
  border-top: 2px solid $blue;
}

.tour-detail .highlight-item {
  display: flex;
  justify-content: start;
  align-items: start;
  font-size: 1rem;
}

.tour-detail .highlight-item svg {
  margin-right: 10px;
  flex-basis: 24px;
  flex-grow: 0;
  flex-shrink: 0;
}

.tour-detail div.icon-flex-wrap {
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 0.7rem;
  background-color: white;
  overflow-y: hidden;
  overflow-x: auto;
  padding-top: 0.5rem;
}

.tour-detail div.icon-flex-wrap .btn-icon {
  display: inline-block;
  flex-basis: 100px;
  text-align: center;
  width: 130px;
}

.tour-detail .highlight-item.check-block svg {
  color: $green;
}

.tour-detail .highlight-item.check-block.exclude-block svg {
  color: $red;
}

.main-stops .main-stops-item {
  width: 270px;
  height: 180px;
  padding: 10px 0;
  position: relative;
}

.main-stops .main-stops-item h5 {
  position: absolute;
  bottom: 0;
  background-color: $blue;
  color: white;
  font-weight: bold;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tour-detail .image-gallery-slide-wrapper.left,
.image-gallery-slide-wrapper.right {
  width: calc(100% - 310px);
}

.tour-detail .image-gallery-thumbnails-wrapper.left,
.image-gallery-thumbnails-wrapper.right {
  width: 300px;
}

.tour-detail .image-gallery-thumbnail {
  width: 300px;
}

.booking-bar{
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.booking-bar .btn.btn-book{
  width: 100%;
  border-radius: 0;
}
